#chart {
  width: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btn-good {
  color: #4caf50;
  border: 1px solid #4caf50;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
#btn-good:hover {
  background-color: #4caf50;
  color: #fff;
}

#btn-bad {
  color: #f44336;
  border: 1px solid #f44336;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

#btn-bad:hover {
  background-color: #f44336;
  color: #fff;
}

#salve {
  color: #ff4b62;
  font-size: 1.5em;
}

#mondo {
  color: #4a4870;
  font-size: 1.5em;
}