#chart {
  width: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  padding: 10px 20px;
  margin: 10px;
  font-size: auto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn-good {
  color: #fff;
  background-color: #4caf50;
}

#btn-bad {
  color: #fff;
  background-color: #f44336;
}
